{{ form_start(formFormation) }}
<div class="row">
    <div class="col">
        <div class="row">
            <div class="col-auto">
                {{ form_row(formFormation.publishedAt) }}
            </div>

        </div>
        {{ form_row(formFormation.title) }}
        {{ form_row(formFormation.playlist) }}
        {{ form_row(formFormation.categories) }}
    </div>
    <div class="col">
        <div>
            {{ form_row(formFormation.videoId) }}

        </div>
    </div>
    <div class="row">
        <div class="col">
            {{ form_row(formFormation.description) }}
        </div>
    </div>

    {{ form_end(formFormation) }}

