{{ form_start(formFormation) }}
<div class="row">
    <div class="col">
        <div class="row">
            <div class="col-auto">
                {{ form_row(formFormation.publishedAt) }}
            </div>

        </div>
        {{ form_row(formFormation.title) }}
        {{ form_row(formFormation.playlist) }}
        {{ form_row(formFormation.categories) }}
    </div>
    <div class="col">
        <!-- emplacement image -->
        <div>
            {{ form_row(formFormation.videoId) }}
            Image actuelle
            {% if formation.miniature %}
                <a href="{{ path('formations.showone', {id:"formation.id"}) }}">
                    {% if formation.id != "" %}
                        <img src="{{ formation.miniature }}" alt="ecran de formation">
                    {% else %}
                        <p>(aucune image)</p>
                    {% endif %}
                </a>
            {% else %}
                <p>(aucune image)</p>
            {% endif %}            
            </ div >
        </div>
    </div>
    <div class="row">
        <div class="col">
            {{ form_row(formFormation.description) }}
        </div>
    </div>

    {{ form_end(formFormation) }}

